body{
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 20px;
  color: #ffff;
  background-color: #3066BE;
}

h1, h3{
   font-family: 'Comfortaa', sans-serif;
   color: #DE6449;
   margin-top: 3rem;
   margin-bottom: 0;
}

h1{
  margin-top: 5rem;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: -0.5rem;
  letter-spacing: 0.6rem;
}

h3 {
  letter-spacing: 0.2rem;
}

.sub-title {
  font-style: italic;
}

p {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0.4rem;
}

a {
  text-decoration: underline;
  color: #ffff;

}

.container{
  margin: 40px auto;
  width: 700px;
  height: 700px;
}
.center{
  width: 33%;
  margin: auto;
}
.list-inline {
  list-style:none;
}

.list-inline li {
  display:inline;
  font-size:50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
